<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<hr>
<form action="/login" method="POST">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

    <label for="email">email</label>
    <input type="text" name="email" id="email"> <br>

    <label for="password">password</label>
    <input type="password" name="password" id="password"> <br>

    <button type="submit">Login</button>
</form>
<br>

<a href="/signup">Sign Up</a>
</body>
</html>